.logo {
  background-image: url(../images/easy03__header__logo.svg);
  width: 38px;
  height: 54px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &_pos_header {
    position: absolute;
    top: 26px;
    left: 0;

    @media screen and (max-width: 1030px) {
      top: 26px;
    }
  
    @media screen and (max-width: 475px) {
      top: 16px;
      width: 26px;
      height: 36px;
    }
  }

  &_pos_reg-popup {
    @media screen and (max-width: 475px) {
      width: 26px;
      height: 36px;
    }
  }
}